<html>
<head>
    <title>Strona główna</title>
</head>

<body>

<h2> Strona główna, aby przejść na podstrony kliknij: </h2>
<br>
<h3> <a href="/podstrona1"> Podstrona 1 </a> </h3><br>
<h3> <a href="/podstrona2"> Podstrona 2 </a> </h3>


</body>
</html>